<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="CSS/Vote_registration.css">
</head>
<body>
    <div class="registration-container">
        <form action="/Voter_registration" method="post" enctype="multipart/form-data">
            <h2>Registration Form</h2>
            
            <label for="firstname">First Name</label>
            <input type="text" id="firstname" name="firstname" required>
            
            <label for="middlename">Middle Name</label>
            <input type="text" id="middlename" name="middlename" required>
            
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" name="lastname" required>

             <!--Rendering from the database-->
        <div class="Database">
            <select name="" id="">
                <option value="" disabled selected>Select Role</option>
               <% roles.forEach(role => { %>
                
                <option value="">
                    <%= role.Role_Name %>
 
                </option>
               <% }) %>                                
            </select>
        </div>
            
            <label for="county">County</label>
            <input type="text" id="county" name="county" required>
            
            <label for="dob">Date of Birth</label>
            <input type="date" id="dob" name="dob" required>
            
            <label for="photo">Photo</label>
            <input type="file" id="photo" name="photo" accept="image/*" required>
            
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
