<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Mismatch</title>
    <link rel="stylesheet" href="CSS/wrong_password.css">
</head>
<body>
    <div class="error-container">
        <div class="error-message">
            <h1>Oops!</h1>
            <p>I'm sorry, the password you entered doesn't match the one we have in our database.</p>
            <a href="/login" class="button">Try Again</a>
        </div>
    </div>
</body>
</html>
